# === Python ===
venv/
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebooks
*.ipynb_checkpoints

# === Java / Maven ===
target/
*.class

# === IDEs / Editors ===
.idea/
.vscode/
*.iml

# === MacOS ===
.DS_Store

# Ignore raw data files
src/data/911.csv
